class 2

In [14]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge:" + str(age) # only string cocatination 

print(card)

PIAIC Student Card
Student Name: Muhammad Qasim
Age:30

"\" line continue

In [16]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name + \
"\nAge:" + str(age)+ "\n"+\
"Education: " + education

print(card)

PIAIC Student Card
Student Name: Muhammad Qasim
Age:30
Education: Master in Data Science

Define multiline string """ """, ''' ''' 
 f string

In [17]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [26]:


name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : %s
Father's Name: %s
Age: %d
Education : %s

""" % (fname, name, age, education)

print(card)

PIAIC Student Card
Student Name : Muhammad Aslam
Father's Name: Muhammad Qasim
Age: 30
Education : Master in Data Science

strip() and re

In [42]:

import re

name : str = "      MuHammAd       QasIm         "
#variable_name.method()
# display(name)
display(name.lstrip('.'))
display(name.strip())
display(name.rstrip())

name1 : str = re.sub(' {2,100}',' ', name).strip()
display(name1)

'      MuHammAd       QasIm         '

'MuHammAd       QasIm'

'      MuHammAd       QasIm'

'MuHammAd QasIm'

In [ ]:
name = "abc"
age:int=25
print("name is"+name+"and age is ",age)

name isabcand age is  25

:

:

:

:

:

:

:

: