In [2]:
import pandas as pd

# Creating a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}

df = pd.DataFrame(data)
# csv_file_path = 'output_file.csv'
# df.to_csv(csv_file_path, index=False)
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles

In [3]:
import pandas as pd

# Reading a CSV file into a DataFrame
file_path = 'output_file.csv'
df = pd.read_csv(file_path)

print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles

In [6]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}

df = pd.DataFrame(data)

# Selecting a specific column
name_column = df['Age']
print(name_column)

# Selecting a specific row
second_row = df.loc[1]
print(second_row)

0    25
1    30
2    22
Name: Age, dtype: int64
Name              Bob
Age                30
City    San Francisco
Name: 1, dtype: object

methods to geting rows and columns

In [11]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}

df = pd.DataFrame(data)

# Filtering data based on a condition
young_people = df[df['Age'] < 30]
print(young_people)

      Name  Age         City
0    Alice   25     New York
2  Charlie   22  Los Angeles

In [15]:
# Selecting specific rows and columns by index
subset = df.iloc[1:4, [0, 2]]
print(subset)

      Name           City
1      Bob  San Francisco
2  Charlie    Los Angeles

In [20]:
subset = df.loc[1:3, ['Age', 'Name']]
print(subset)

   Age     Name
1   30      Bob
2   22  Charlie

In [28]:
# Adding a new column
df['NewColumn'] = [1, 2, 3]
print(df)
df2 = df.drop(columns=['NewColumn'])
print(df2)
df3 = df2.drop(index=[0, 2])
print(df3)

      Name  Age           City  NewColumn
0    Alice   25       New York          1
1      Bob   30  San Francisco          2
2  Charlie   22    Los Angeles          3
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles
  Name  Age           City
1  Bob   30  San Francisco